:root {
	--color1: #055027;
	--color10: #055027FF;
	--color11: #055027BB;
	--color12: #05502788;
	--color13: #05502744;
	--color14: #05502700;
	--color2: #CF9FFF;
}


/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, /*ol, ul, li,*/
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
/*    font: inherit;*/
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}


.column {
	float: left;
	width: 50%;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
	margin-bottom: 300px;
}

/*
    We set up <body> styles with default font and nice gradient in the background.
*/
body {
    /*font-family: 'Sans', sans-serif;*/
	font-family: 'Ubuntu';
    min-height: 750px;

    background: rgb(240, 240, 240);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(256, 256, 256)), to(rgb(230, 240, 230)));
    background: -webkit-radial-gradient(rgb(256, 256, 256), rgb(230, 240, 230));
    background: -moz-radial-gradient(rgb(256, 256, 256), rgb(230, 240, 230));
    background: -ms-radial-gradient(rgb(256, 256, 256), rgb(230, 240, 230));
    background: -o-radial-gradient(rgb(256, 256, 256), rgb(230, 240, 230));
    background: radial-gradient(rgb(256, 256, 256), rgb(230, 240, 230));

	/*cursor: move;*/
}

/*
    Now let's bring some text styles back ...
*/
b, strong { font-weight: bold }
i, em { font-style: italic }


/*
    ... and give links a nice look.
*/
a {
	color: var(--color1);
	text-decoration: none;
    border-radius: 0.2em;
}

a:hover,
a:focus {
    background: var(--color2);
}

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;

    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border: 1px solid #E4C652;
    border-radius: 10px;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-supported .fallback-message {
    display: none;
}

.impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.5;
}
.impress-enabled div#impress-toolbar > span {
    margin-right: 10px;
}

body.impress-mouse-timeout div#impress-toolbar {
    display: none;
}

body {
	cursor: url("../figures/cursor.png"), auto;
}

.step {
    position: relative;
    width: 1200px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    /*font-family: 'PT Serif', georgia, serif;*/
    font-size: 30px;
    line-height: 1.5;
}

.future {
	opacity: 0;
	transition: opacity 0.5s;
}

.active {
	opacity: 1;
	transition: opacity 0.5s;
}

.past .vanishPast {
	opacity: 0;
	transition: opacity 0.5s;
}

.past.vanishPast {
	opacity: 0;
	transition: opacity 0.5s;
}

#title {
	text-align: center;
}

.cap {
	text-transform:capitalize;
    font-variant:small-caps;
    font-weight:bold;
	margin: 30px;
}

.center {
	text-align: center;
}

.centerLeft {
	text-align: center;
	margin-right: 270px;
}

.small {
	font-size: 18px;
}

h1 {
	text-align: center;
	font-size: 55px;
	font-weight: bold;
	line-height: 1.2;
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 25px;

	border: 2px solid;
	border-radius: 15px;
	border-color: color1;
	color: var(--color1);
}

.h1Sub {
    font-size: 35px;
	font-weight: bold;
}

h2 {
	text-align: center;
	font-size: 45px;
	font-weight: bold;
	line-height: 1.2;
	padding: 5px;
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 15px;

	border: 2px solid;
	border-radius: 15px;
	border-color: var(--color1);
	color: var(--color1);
}

h3 {
	margin-top: 15px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 40px;
	display: flex;
	color: var(--color1);
}

.h3span {
	padding: 3px 15px;
	border: 2px solid;
	border-image: linear-gradient(to right, var(--color1) 0%, var(--color1) 5%, transparent 6%, transparent 94%, var(--color1) 95%, var(--color1) 100%);
	border-image-slice: 1;
}

h3::before, h3::after{
	content: "";
	flex: 1;
	align-self: center;
	border: 2px solid var(--color1);
	border-width: 2px 0px 0px;
	height: 0;
}

blockquote {
	font-style: italic;
	position: relative;
	margin: 40px auto;
	width: 1200px;
	padding-left: 40px;
	border-left: 4px solid var(--color1);
}

#PMEFT blockquote {
	width: 500px;
}

#mainGoal blockquote {
	font-size: 40px;
	line-height: 55px;
}

#projMan blockquote {
	font-size: 40px;
	line-height: 55px;
	width: 650px;
}

#pastWork3 blockquote {
	font-size: 35px;
	line-height: 50px;
	width: 800px;
}

table.tablePNPM {
	border-collapse: separate;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

.tablePNPM .MathJax_Display {
	margin: 3px;
}

.tablePNPM thead th {
	padding: 6px;
	border: 1px solid var(--color1);
	background-color: var(--color1)44;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	position: relative;
	outline: 0;
}

.tablePNPM thead th:empty {
	background: transparent;
	border: none;
}

.tablePNPM tbody th {
	padding: 6px;
	border: 1px solid var(--color1);
	background-color: var(--color1)44;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	position:relative;
	outline: 0;
}

.tablePNPM tbody td {
	padding: 6px;
	text-align: center;
	background-color: var(--color1)11;
	border: 2px solid var(--color1)11;
	border-radius: 2px;
	position:relative;
	outline: 0;
}

.tablePNPM tbody tr.complete td {
	background-color: #00EB8711;
	border: 2px solid #00EB8711;
}

.tablePNPM tbody tr td.complete {
	background-color: #00EB8711;
	border: 2px solid #00EB8711;
}

.tablePNPM tbody tr.complete th {
	background-color: #00EB8744;
	border: 2px solid #00EB87;
}

.tablePNPM thead tr th.complete {
	background-color: #00EB8744;
	border: 2px solid #00EB87;
}

.tablePNPM tbody tr td.comment {
	vertical-align: middle;
	text-align: left;
	font-size: 12pt;
	background-color: #00000000;
	border: none;
	line-height: 13pt;
}


.tablePNPM thead tr::hover {
	background-color: var(--color2);
}

.tablePNPM tbody tr:hover {
	background-color: var(--color2);
}

.tablePNPM tbody td:hover:not(.comment)::after,
.tablePNPM thead th:not(:empty):hover::after,
.tablePNPM tbody th:hover::after {
	content: "";
	position: absolute;
	left: 0;
	top: -5000px;
	height: 10000px;
	width: 100%;
	z-index: -1;
}

.tablePNPM tbody td:hover::after,
.tablePNPM thead th:not(:empty):hover::after {
	background-color: var(--color2);
}

.tablePNPM tbody td:hover {
	border-color: black;
}

hr {
	background-color: var(--color1);
	width: 100%;
	height: 2px;
	margin-top: 0px;
	padding-top: 0px;
	border: none;
}

ul {
    list-style: none;
	margin-top: 0px;
	margin-bottom: 0px;
}

ul li {
	font-size: 32px;
}

ul li ul li {
	font-size: 28px;
}

ul li::before {
	content: "";
	border-color: transparent var(--color1);
	border-style: solid;
	border-width: 0.4em 0 0.4em 0.6em;
	display:inline-block;
	height: 0;
	width: 0;
	margin-right: 10px;
	color: var(--color1);
	font-weight: bold; 
}

ul li.easy::before {
	border-color: transparent #50C878;
}

ul li.medium::before {
	border-color: transparent  #ff5733;
}

ul li.hard::before {
	border-color: transparent  #800000;
}

.ref {
	position: relative;
	float: right;
	text-align: right;
	color: var(--color1);
}

.refInline {
	color: var(--color1);
}

.refParent {
	height: 30px;
}

.boxed {
	border: 2px solid;
	border-radius: 15px;
	border-color: var(--color1);
	box-shadow: var(--color10) -5px 5px, var(--color11) -10px 10px, var(--color12) -15px 15px, var(--color13) -20px 20px, var(--color14) -25px 25px;
	padding: 10px;
}

.centerBox {
	display:inline-block;
	text-align:center;
	border: 2px solid;
	border-radius: 15px;
	border-color: var(--color1);
	box-shadow: var(--color10) -2px 2px, var(--color11) -4px 4px, var(--color12) -6px 6px, var(--color13) -8px 8px, var(--color14) -10px 10px;
	padding: 10px;
	margin: 5px;
}



.margin-top50 {
	margin-top: 50px;
}

.margin-top60 {
	margin-top: 60px;
}

.margin-top150 {
	margin-top: 150px;
}

.margin-bottom30 {
	margin-bottom: 30px;
}

.margin-bottom80 {
	margin-bottom: 80px;
}

.margin-bottom120 {
	margin-bottom: 120px;
}

.margin-bottom150 {
	margin-bottom: 150px;
}

.margin-bottom250 {
	margin-bottom: 250px;
}

.margin-bottom450 {
	margin-bottom: 450px;
}

#snsfFig {
	width: 400px;
}

#xckdFig {
	width:600px;
}

#mainFig {
	width: 1200px;
}

#ligoFig {
	width: 1200px;
}

#waveformFig {
	width: 900px;
}

#waveform2Fig {
	width: 900px;
}

.next.always {
	opacity: 1;
}

#mismatchFig {
	width: 1100px;
}

#orbitFig {
	position: absolute;
	top: 250px;
	left: 300px;
}

#scatteringFig {
	position: absolute;
	top: 300px;
	right: 300px;
}


#chiEOBFig {
	width: 1200px;
}

#chiEOB2Fig {
	width: 650px;
}

#planFig {
	width: 1200px;
}

#summaryFig {
	width: 850px;
}

#wolfFig {
	width: 250px;
}

#graphsFig {
	width: 1000px;
}

#massContoursFig {
	width: 1000px;
}

#bankFig {
	width: 870px;
}
