<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=1024" />
    <title>Dissecting Gravity</title>
    
    <meta name="description" content="Presentation Slides made with impress.js" />
    <meta name="author" content="Gregor Kaelin" />

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({
      "HTML-CSS": {
	  scale: 90,
	  styles: {
      '.MathJax_Display': {
      "margin": "20px 0"
      }
      }
	  },
	  TeX: { extensions: ["color.js"] },
	  });
	</script>
	<script type="text/javascript" src="extras/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

	<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Ubuntu">
	</link>


    <link href="css/main.css" rel="stylesheet" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
  </head>

  <body class="impress-not-supported">
	<div class="fallback-message">
      <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
      <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
	  <p>
		$$
		\definecolor{desyOrange}{RGB}{242,142,0}
		\DeclareMathOperator{\Arcsinh}{arcsinh}
		\DeclareMathOperator{\Arctan}{arctan}
		\DeclareMathOperator{\arcosh}{arcosh}
		\newcommand\dd{{\mathrm d}}
		\newcommand{\bb}{{\mathbf b}}
		\newcommand{\bk}{{\mathbf k}}
		\newcommand{\bl}{{\mathbf l}}
		\newcommand{\bm}{{\mathbf m}}
		\newcommand{\bn}{{\mathbf n}}
		\newcommand{\bp}{{\mathbf p}}
		\newcommand{\bq}{{\mathbf q}}
		\newcommand{\br}{{\mathbf r}}
		\newcommand{\bw}{{\mathbf w}}
		\newcommand{\bx}{{\mathbf x}}
		\newcommand{\by}{{\mathbf y}}
		\newcommand{\bz}{{\mathbf z}}
		\newcommand\cO{\mathcal{O}}
		\newcommand{\cD}{\mathcal{D}}
		\newcommand\cA{\mathcal{A}}
		\newcommand\cM{\mathcal{M}}
		\newcommand\cN{\mathcal{N}}
		\newcommand\cE{\mathcal{E}}
		\newcommand\cS{\mathcal{S}}
		\newcommand\cP{\mathcal{P}}
		\newcommand\cF{\mathcal{F}}
		\newcommand\cL{\mathcal{L}}
		\newcommand\cH{\mathcal{H}}
		\newcommand\Mp{M_{\rm Pl}}
		$$
	  </p>
	</div>

	<div id="impress">

	  <div id="title" class="step" data-x="0" data-y="0">
		<h1>Dissecting Gravity
		  <br/>
		  <p class="h1Sub">
			Uncovering Fundamental Structures in the Gravitational Two-Body Problem
		  </p>
		</h1>
		<p>
		  A SNSF starting grant project proposal
  		</p>
		<p>
		  <img id="snsfFig" src="figures/snsf.png" alt="snsf">
		</p>
		<p class="cap">
		  
		  Gregor Kälin
		</p>
	  </div>

      <div id="GWPhysics" class="step" data-rel-x="1800" data-rel-to="title">
		<h2>Gravitational wave physics</h2>
	    <ul>
		  <li>Insights into many areas of fundamental (astro-)particle physics and cosmology. E.g.
			<ul>
			  <li>Near-horizon black hole physics</li>
			  <li>Internal structure of neutron stars</li>
			  <li>Tests of GR and maybe even quantum gravity</li>
			  <li>Dark matter (e.g. primordial black holes, axion clouds,...)</li>
			  <li>Formation of large scale structures</li>
			</ul>
		  </li>
		</ul>
		<div class="center">
		  <img id="xkcdFig" src="figures/xkcd.png"></img>
		  
		</div>
		<div class="center small">
  		  (Cartoon from xkcd)
		</div>
	  </div>

	  <div id="paramDetermination" class="step" data-rel-y="800" data-rel-to="GWPhysics">
		<h3><span class="h3span">Parameter determination</span></h3>
		<div class="ref"><a href="https://arxiv.org/pdf/2111.03606.pdf">[GWTC-3 LIGO & Virgo]</a></div>
		<div class="center">
		  <img id="massContoursFig" src="figures/massContours.png"></img>
		</div>
	  </div>

	  <div id="bank" class="step" data-rel-y="800" data-rel-to="paramDetermination">
		<h3><span class="h3span">Waveform template bank</span></h3>
		<div class="ref"><a href="https://arxiv.org/pdf/1904.01683.pdf">[Roulet et al. 2019]</a></div>
		<div class="center">
		  <img id="bankFig" src="figures/bank.png"></img>
		</div>
	  </div>
	  

	  <div id="GWPhysics2" class="step" data-rel-y="1000" data-rel-to="bank">
		<div class="center">
		  <img id="ligoFig" class="vanishPast" src="figures/ligo.png"></img>
		</div>
	  </div>

	  <div id="waveform1" class="step always" data-rel-z="-600"data-rel-to="GWPhysics2">
		<div class="center">
		  <img id="waveformFig" class="margin-bottom80" src="figures/waveform.svg"></img>
		</div>
	  </div>

	  <div id="waveform2" class="step vanishPast" data-rel-to="waveform1">
		<h3 class="vanishPast"><span class="h3span">Waveform modelling</span></h3>
		<div class="margin-bottom450">
		<div class="ref"><a href="">[EOB: Buonanno, Damour 1998]</a></div>
		</div>
		<div class="center">
		  <img id="waveform2Fig" src="figures/waveform2.svg"></img>
		</div>
	  </div>

	  <div id="target" class="step" data-rel-y="1000" data-rel-to="waveform2">
		<h3><span class="h3span">Target accuracy</span></h3>
		<div class="ref"><a href="https://journals.aps.org/prresearch/pdf/10.1103/PhysRevResearch.2.023151">[Pürrer, Haster 2020]</a></div>
		<div class="center">
		  <img id="mismatchFig" src="figures/mismatch.png"></img>
		  <ul>
		  <li>Mismatch needs to be reduced by three orders of magnitude for ET+CE</li>
		  </ul>
		</div>
	  </div>
	  

	  <div id="mainObjective" class="step" data-rel-x="1800" data-rel-to="GWPhysics">
		<h2>Main objective</h2>
		<blockquote>
		  Uncovering fundamental structures and patterns in perturbative descriptions of the gravitational two-body problem and utilizing them to improve the high-precision construction of gravitational waveform templates.
		</blockquote>
		<div class="center">
		  <img id="summaryFig" src="figures/summary.svg"></img>
		</div>
	  </div>
	  

	  <div id="B2B" class="step" data-rel-x="1800" data-rel-to="mainObjective">
		<h2>Boundary-To-Bound (B2B)</h2>
		<div class="ref">[GK, Porto <a href="https://arxiv.org/abs/1910.03008">1910.03008</a>, <a href="https://arxiv.org/abs/1911.09130">1911.09130</a>; + Cho <a href="https://arxiv.org/abs/2112.03976">2112.03976</a>]</div>
		<div class="center">
		  <img id="mainFig" src="figures/main.svg"></img>
		</div>
	  </div>

	  <div id="challenges" class="step" data-rel-y="800" data-rel-to="B2B">
		<h3><span class="h3span">Challenges</span></h3>
		<ul class="margin-bottom250">
		  <li>Improving (analytic) waveform construction methods
		  </li>
		  <li>Completing the B2B map for non-local terms and spin</li>
		</ul>
		<div class="center">
		  <img id="orbitFig" src="figures/orbit.svg"></img>
		  <img id="scatteringFig" src="figures/scattering.svg"></img>
		</div>
		
	  </div>

	  <div id="B2B2" class="step" data-rel-to="B2B">
	  </div>

	  <div id="PMEFT" class="step vanishPast" data-rel-z="-3000" data-rel-y="-500" data-rel-x="-300" data-rel-to="B2B">
		<h2>Post-Minkowskian EFT</h2>
		<div class="ref">[GK, Porto <a href="https://arxiv.org/abs/2006.01184">2006.01184</a>; + Neef <a href="https://arxiv.org/abs/2207.00580">2207.00580</a>]</div>
	    <ul>
		  <li>EFT framework
			<ul>
			  <li>Generic theory of gravity</li>
			  <li>Generic worldline theory (parametrizing spin and tidal deformability)</li>
			  <li>Perturbative expansion in G</li>
			  <li>EFT methodology: Full (parametrized) theory \(\rightarrow\) effective two-body action \(\rightarrow\) observables</li>
			</ul>
		  </li>
		  <li>Technologies from QFT/particle physics (integrals!)</li>
		</ul>
		<blockquote class="margin-bottom30">
		  Complete, systematic, and efficient.
		</blockquote>
		<div class="center">
		<img id="wolfFig" src="figures/WolF.png"></img>
		</div>
	  </div>

	  <div id="PMEFT2" class="step vanishPast" data-rel-y="750" data-rel-to="PMEFT">
		<h3><span class="h3span">For the first time: complete non-spinning 4PM motion </span></h3>
<div class="center">
  <span class="refInline">[Dlapa, GK, Liu, Porto <a href="https://arxiv.org/abs/2106.08276">2106.08276</a>, <a href="https://arxiv.org/abs/2112.11296">2112.11296</a>; + Neef <a href="https://arxiv.org/abs/2210.05541">2210.05541</a>]</span>
		  <p class="inlineRef">Resummation and comparison to NR <a href="https://arxiv.org/abs/2211.01399">[Damour, Rettegno 2211.01399]</a></p>
		  <img id="chiEOBFig" src="figures/chiEOB.png"></img>
		</div>
	  </div>

	  <div id="PMEFT3" class="step vanishPast" data-rel-y="700" data-rel-to="PMEFT2">
		<div class="center">
		  <img id="chiEOB2Fig" src="figures/chiEOB2.png"></img>
		</div>
	  </div>

	  <div id="PMEFT4" class="step vanishPast" data-rel-y="650" data-rel-to="PMEFT3">
		<h3><span class="h3span">Challenges</span></h3>
		<ul>
		  <li>Integrand construction for spinning and tidally deformed objects</li>
		  <ul>
			<li>Book-keeping: Millions of terms</li>
		  </ul>
		  <li>Loops, loops, loops
			<div class="center">
			  <img id="graphsFig" src="figures/graphs.png"></img>
			</div>
			<ul>
			  <li>Feynman(-like) integrals</li>
			  <li>To be found wherever field theoretic concepts are used</li>
			</ul>
		  </li>
		  <li>Resummations & patterns</li>
		</ul>
	  </div>

	  <div id="mainObjective1p1" class="step" data-rel-to="mainObjective">
	  </div>

	  <div id="mainObjective2" class="step" data-rel-y="500" data-rel-to="mainObjective1p1">
		<ul class="margin-top150">
		  <li>Subproject 1: Identifying fundamental structures</li>
		  <li>Subproject 2: Feynman integral relations</li>
		  <li>Subproject 3: Numerical integration and bootstrap</li>
		</ul>
	  </div>

	  <div id="plan" class="step" data-rel-y="650" data-rel-to="mainObjective2">
		<div class="center">
		  <img id="planFig" src="figures/plan.svg"></img>
		</div>
	  </div>

	  <div id="final" class="step" data-rel-to="mainObjective">
	  </div>
	  
  	</div>

	<div id="impress-toolbar"></div>

	<!--
	<div class="hint">
      <p>Use a spacebar or arrow keys to navigate. <br/>
		Press 'P' to launch speaker console.</p>
	</div>
	-->
	<script>
	  if ("ontouchstart" in document.documentElement) { 
		  document.querySelector(".hint").innerHTML = "<p>Swipe left or right to navigate</p>";
	  }
	  </script>

	<script src="js/impress.js"></script>
	<script>impress().init();</script>

  </body>
</html>
